<div class="container-fluid wrapper">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="container-fluid content-wrapper">
        <app-content></app-content>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
    <div class="report-form">
        <div class="swap">
            <a [routerLink]="['./report']" class="link d-flex">
                <i class="fa-solid fa-circle-exclamation"></i>
            </a>
        </div>
    </div>
    <app-to-top></app-to-top>
</div>
