<div class="package">
    <div class="grid">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-about-us">
                    <div class="title">Về chúng tôi</div>
                    <p class="info">
                        Chúng tôi là nhóm sinh viên thuộc khoa Vật lý - Đại học Sư phạm Hồ Chí Minh.
                        Trang web này là sản phẩm của bài tiểu luận cuối khóa. Mục đích của trang web
                        là giúp hỗ trợ việc dạy và học chủ đề “Ba định luật Newton. Một số lực trong 
                        thực tiễn” – Vật lí 10.
                    </p>
                    <button class="btn footer-btn">Liên hệ với chúng tôi</button>
                </div>
                <div class="footer-contact">
                    <div class="title">Thông tin liên hệ</div>
                    <div class="footer-contact--item">
                        <div class="contact-item-title d-flex align-items-center">
                            <i class="fa-solid fa-envelope"></i>
                            <div>Email</div>
                        </div>
                        <p>ankhang1515kc@gmail.com</p>
                    </div>
                    <div class="footer-contact--item">
                        <div class="contact-item-title d-flex align-items-center">
                            <i class="fa-solid fa-location-dot"></i>
                            <div>Địa chỉ</div>
                        </div>
                        <p>280 An Dương Vương, phường 1, quận 5, thành phố Hồ Chí Minh</p>
                    </div>
                </div>
                <div class="footer-connect">
                    <div class="title">Kết nối</div>
                    <p class="info">
                        Kết nối dễ dàng hơn thông qua những trang mạng xã hội!
                    </p>
                    <div class="list-connection">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-square-facebook"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
