/* coming-soon-label.component.css */
.coming-soon-label {
    //Display & Box model
    height: 600px;
    padding: 10px;
    border-radius: 5px;
    //Color
    background: hsla(191, 76%, 79%, 1);
    background: linear-gradient(315deg, hsla(191, 76%, 79%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(191, 76%, 79%, 1) 0%, hsla(0, 0%, 100%, 1) 100%); 
    background: -webkit-linear-gradient(315deg, hsla(191, 76%, 79%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    color: #000;
    //Text
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    .title {
        display: flex;
        align-items: center;
        height: 240px;
        width: 720px;
        border-radius: 20px;
        margin: auto;
        padding: 0 40px;
        box-shadow: 0 0 6px rgb(218, 218, 218);

        background-color: rgb(244, 255, 88);
        font-size: 4.8rem;
        margin-top: 120px;
    }
}
