<div class="container-fluid background">
</div>
<div class="container">
    <div class="form-container">
        <div class="form__logo">
            <img src="https://hcmue.edu.vn/images/Faculty_Logos/lY.png" alt="">
            <p>PhyLearn</p>
        </div>
        <div class="form__heading">Welcome to PhyLearn!</div>
        <!-- <div class="form__sub-heading">Tạo tài khoản</div> -->
        <form class="form__register">
            <div class="title">Thông tin cá nhân</div>
            <div class="form__info">
                <div class="form-floating surename">
                    <input type="text" class="form-control" 
                        name="surename" placeholder="Enter your surename..." 
                        id="surename"
                    >
                    <label for="surename">Họ</label>
                </div>
                <div class="form-floating name">
                    <input type="name" class="form-control" 
                        name="name" placeholder="Enter your name..."
                        id="name"
                    >
                    <label for="name">Tên</label>
                </div>
            </div>
            <div class="title">Thông tin đăng nhập</div>
            <div class="form-floating username">
                <input type="text" class="form-control" 
                    name="email" placeholder="Enter your email..." 
                    id="email"
                >
                <label for="email">Email</label>
            </div>
            <div class="form-floating password">
                <input type="password" class="form-control" 
                    name="password" placeholder="Enter your password..."
                    id="password"
                >
                <label for="password">Password</label>
            </div>
            <div class="form__submit">
                <div class="form__login">
                    Đã có tài khoản?
                    <a href="">Đăng nhập</a>
                </div>
                <button type="button" class="btn-register">Đăng kí</button>
            </div>
        </form>
    </div>
</div>