/* google-form.component.css */
.google-form-container {
    //Display & Box model
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin: auto;
  }
  