/* You can add global styles to this file, and also import other style files */
$border-color: #7d8a85;
$text-color: #2a2e2f;
$hover-color: #3D3C98;
$footer-color: #ffffff;
$white-color: #ffffff;
$black-color: #000000;
$primary-color-1: #000B49;
$primary-color-2: #9B0000;
$btn-color: #3D3C98;

html {
    font-size: 10px;
    scroll-behavior: smooth;
}
.grid {
    max-width: 1200px;
    margin: auto;
}

html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: inherit;
}